{% extends 'base.html' %}
{% block title %}
  Login Page
{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <h2 class="text-primary my-2">Sign In</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button style="submit" class="btn btn-primary">Sign In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
